@use "../globals";

$color:var(--paragraph, inherit);
$line-height:var(--#{globals.$theme-prefix}-default-line-height) !default;
$margin-vertical:var(--#{globals.$theme-prefix}-default-margin-vertical) !default;

/*

TODO Orphans ? Widows ?

*/

@mixin main {
  p {
    color: $color;
    line-height: $line-height;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $margin-vertical;
    }
  }
}


