/**
 * ===== MODULE SIZES.BORDER-RADIUS =====
 *
 *
 * Variables generated
 * -------------------
 *
 * r, rl, rt, rr, rb
 *
 *
 * Default Exports
 * --------------
 *
 * - define-root-variables
 *
 */
$getter-prefix-border-radius:"r" !default;

$border-radius-general:.25em !default;
$border-radius-var-name:"r" !default;
$border-radius-top-left:var(--#{$border-radius-var-name}) !default;
$border-radius-top-right:var(--#{$border-radius-var-name}) !default;
$border-radius-bottom-left:var(--#{$border-radius-var-name}) !default;
$border-radius-bottom-right:var(--#{$border-radius-var-name}) !default;
$border-radius-left:$border-radius-top-left 0 0 $border-radius-bottom-left !default;
$border-radius-right:0 $border-radius-top-right $border-radius-bottom-right 0 !default;
$border-radius-top:$border-radius-top-left $border-radius-top-right 0 0 !default;
$border-radius-bottom:0 0 $border-radius-bottom-right $border-radius-bottom-left !default;
$border-radius-all:$border-radius-top-left $border-radius-top-right $border-radius-bottom-right $border-radius-bottom-left !default;

@mixin define-root-variables() {
  --theme-border-radius-rl: #{$border-radius-left};
  --theme-border-radius-rr: #{$border-radius-right};
  --theme-border-radius-top: #{$border-radius-top};
  --theme-border-radius-bottom: #{$border-radius-bottom};
  --theme-border-radius: #{$border-radius-general};
  --theme-button-border-radius: #{$border-radius-general};
}
