/**
 * ===== MODULE DISPLAY =====
 *
 * Classes generated
 * -----------------
 *
 * yb
 * yi
 * yib
 * yf
 * yif
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 */

@mixin -display {
  .yb {
    display: block;
  }

  .yi {
    display: inline;
  }

  /*
  .yit.yit.yit.yit.yit {
    display: inline-table;
  } */

  .yib.yib {
    display: inline-block;
  }

  .yf {
    display: flex;
  }

  .yfc {
    display: flex;
    flex-direction: column;
  }

  /*
  .yif {
    display: inline-flex;
  }

  .yifc {
    display: inline-flex;
    flex-direction:column;
  }
  */
}

@mixin main {
  @include -display;
}


