$getter-prefix-border-radius:"r" !default;

$border-radius-general:.25em;
$border-radius-var-name:"r";
$border-radius-top-left:var(--#{$border-radius-var-name});
$border-radius-top-right:var(--#{$border-radius-var-name});
$border-radius-bottom-left:var(--#{$border-radius-var-name});
$border-radius-bottom-right:var(--#{$border-radius-var-name});
$border-radius-left:$border-radius-top-left 0 0 $border-radius-bottom-left !default;
$border-radius-right:0 $border-radius-top-right $border-radius-bottom-right 0 !default;
$border-radius-top:$border-radius-top-left $border-radius-top-right 0 0 !default;
$border-radius-bottom:0 0 $border-radius-bottom-right $border-radius-bottom-left !default;
$border-radius-all:$border-radius-top-left $border-radius-top-right $border-radius-bottom-right $border-radius-bottom-left !default;

@mixin define-root-variables() {
  --rl: #{$border-radius-left};
  --rr: #{$border-radius-right};
  --rt: #{$border-radius-top};
  --rb: #{$border-radius-bottom};
  --r: #{$border-radius-general};
}
