/**
 * ===== MODULE TEXT =====
 *
 * Classes generated
 * -----------------
 *
 * uc : center
 * ul : left
 * ur : right
 * uj : justified
 * xs-uc : center for xs or less,
 * md-uc : center for md or less,
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 */

@use "../mixins";

$text-alignment-prefix:"u" !default;
$text-alignment-left-class-name:"#{$text-alignment-prefix}l" !default;
$text-alignment-right-class-name:"#{$text-alignment-prefix}r" !default;
$text-alignment-center-class-name:"#{$text-alignment-prefix}c" !default;
$text-alignment-justify-class-name:"#{$text-alignment-prefix}j" !default;

@mixin -text-alignment-classes {
  .#{$text-alignment-left-class-name} {
    text-align: left;
  }

  .#{$text-alignment-right-class-name} {
    text-align: right;
  }

  .#{$text-alignment-center-class-name} {
    text-align: center;
  }

  .#{$text-alignment-justify-class-name} {
    text-align: justify;
  }

  @include mixins.responsive-from($text-alignment-left-class-name, $base:false) {
    text-align: left;
  }

  @include mixins.responsive-from($text-alignment-right-class-name, $base:false) {
    text-align: right;
  }

  @include mixins.responsive-from($text-alignment-center-class-name, $base:false) {
    text-align: center;
  }

  @include mixins.responsive-from($text-alignment-justify-class-name, $base:false) {
    text-align: justify;
  }
}

@mixin main {
  @include -text-alignment-classes;
}
