


//Use of namespace
$columns-classgen-prefix:"g" !default;
$gap-classgen-prefix:"i" !default;
$row-class:"row" !default;

$default-sidebar-width:300px !default;
$num-columns:12 !default;
$gap-classgen-iterations:2 !default;
