@use "../functions" as fn;

//Todo nead to clean and reducewith the get/set model
//
// Config Variables (Advanced)
//


$prefix-hover:"h" !default;
$prefixes-setters-text-sizes:"s", "t" !default; // Name of the registers
$prefixes-setters-block-sizes:"u", "v", "w" !default;


$getter-text-size-relative:"k" !default;
$getter-text-size-absolute:"l" !default;

$getter-size-margin:"m" !default;
$getter-coordinates:"n" !default;
$getter-size-padding:"p" !default;
//$getter-size-block:"q" !default;
$getter-size-border-radius:"r" !default;

//
// Variables
//

$base-size:18px;
$base-size-small:16px;
$size-multiplier:1.2;

$size-multipliers-map:(
  "-3":fn.power($size-multiplier, -3),
  "-2":fn.power($size-multiplier, -2),
  "-1":fn.power($size-multiplier, -1),
  "0":1,
  "1":fn.power($size-multiplier, 1),
  "2":fn.power($size-multiplier, 2),
  "3":fn.power($size-multiplier, 3),
  "4":fn.power($size-multiplier, 4),
  "5":fn.power($size-multiplier, 5),
  "6":fn.power($size-multiplier, 6),
);
$sizes-list:0,0.12,0.25,0.5,1,2,3,4,5,6,8,10 !default;

/* --- border-radius set-up --- */
$borderRadiusGeneral:0.25em;
$border-radius-var-name:"r";
$borderRadiusTopLeft:var(--#{$border-radius-var-name});
$borderRadiusTopRight:var(--#{$border-radius-var-name});
$borderRadiusBottomLeft:var(--#{$border-radius-var-name});
$borderRadiusBottomRight:var(--#{$border-radius-var-name});
$borderRadiusLeft:$borderRadiusTopLeft 0 0 $borderRadiusBottomLeft !default;
$borderRadiusRight:0 $borderRadiusTopRight $borderRadiusBottomRight 0 !default;
$borderRadiusTop:$borderRadiusTopLeft $borderRadiusTopRight 0 0 !default;
$borderRadiusBottom:0 0 $borderRadiusBottomRight $borderRadiusBottomLeft !default;
$borderRadiusAll:$borderRadiusTopLeft $borderRadiusTopRight $borderRadiusBottomRight $borderRadiusBottomLeft !default;
//$borderRadiusAll2:($borderRadiusTopLeft * 2)
//($borderRadiusTopRight * 2)
//($borderRadiusBottomRight * 2)
//($borderRadiusBottomLeft * 2) !default;

